*{
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}
:root {
  --primary-bg-color: rgba(32,33,35,1);
  --secondary-bg-color: rgba(52, 53, 65, 1);
  --primary-color: rgba(255, 255, 255, 1);
  --secondary-color: rgba(0, 0, 0, 1);
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.container{
  text-align: center;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* Side Menu */

.side-menu {
  width: 240px;
  padding: 10px;
  color: var(--primary-color); 
  background-color: var(--primary-bg-color);
}

.side-menu-btn{
  width: 100%;
  height: 40px;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
}


/* Chat Box */

.chat-box{
  flex: 1;
  padding: 20px;
  background-color: var(--secondary-bg-color);
  color: var(--primary-color);
}